* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.currecAnswer {
  display: none;
}

#nav{
  position: fixed;
  z-index: 100;
  background-color: white;
  height: 15vh;
  box-shadow: 0vh 0.1vw 1vh 0.1vw rgb(175, 175, 175);

}

#quizName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  font-size: 5vw;
  font-weight: bold;
  background-color: rgb(81, 0, 173);
  color: white;
}

#topRecords{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;

}



#totalScore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 3.5vw;
  font-weight: bold;
  color: white;
  width: 48vw;
  height: 5vh;
  border: none;
  border-radius: 2vw;
  background-color: white;
  user-select: none;
}

#quizTime {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 2vw;
  width: 15vw;
  height: 3vh;
  font-size: 2.5vw;
  font-weight: bold;
  border: none;
  background-color: red;
  color: white;
}

#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
  background-color: rgb(185, 185, 185);
  width: 15vw;
  height: 3vh;
  font-size: 2.5vw;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 2vw;
  z-index: -1;
}

#reset:active {
  background-color: rgb(178, 33, 250) !important;
  cursor: pointer;
}

.questionAnswerContainer {
  position: absolute;
  width: 99vw;
  margin-top: 15vh;

}

.questionPartition {
  margin: 5vh auto 0vh auto;
  list-style: none;
  height: 38vh;
  width: 80vw;
  box-shadow: .25vh 1vw 1vh 0.2vw rgb(194, 194, 194);
  border-radius: 3vw;
  
}

.question {
  display: flex;
  border: .1vw solid rgb(192, 192, 192);
  width: 75.8vw;
  padding: 2vh 2vw;
  background-color: rgb(211, 252, 255);
  font-size: 4vw;
  border-radius: 1vw 1vw 0vw 0vw;
}

.questionNumber{
 display: flex;
 justify-content: center;
 width: 6vw;
  padding-right: 2vw;
  /* border: 1px solid black; */
}

.questionContent{
  width: 70vw;
  /* border:  1px solid black; */
}

.answer {
  margin: 2vh 1.5vw 2vh 1.5vw;
  /* border-radius: 0vw 0vw 1vw 1vw; */
}

li {
  display: flex;
  margin: 1vh 0.075vw;
  padding: 1vh 3vw;
  width: 70vw;
  height: 3.5vh;
  border-radius: 2vh;
  font-size: 4vw;
  border: 0.1vw solid rgb(186, 186, 186);
}

li:active {
  background-color: rgb(254, 239, 255) !important;
}

.answer label {

  display: flex;
  align-items: center;
  width: 70vw;
  height: 3.5vh;
  padding-left: 2vw;
  cursor: pointer;
  color: black;

}



.spanClass {
  padding-left: 3vw;
  display: flex;
  width: 58vw;
  height: 5vh;
  align-items: center;
  font-size: 4vw;
  margin-left: 1.5vw;
  border-left: .1vw solid rgb(186, 186, 186);
}

input[type="radio"] {
  width: 5vw;
}

#protectAnswerAfterSubmit {
  width: 98.7vw;
  height: 161vh;
  position: absolute;
  margin-top: -6vh;
  display: block;
  background-color: white;
  z-index: 50;
}

#ready {
  position: fixed;
  z-index: 51;
  height: 7vh;
  width: 40vw;

  display: block;
  margin: 64vh 30vw 35vh 30vw;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 4vw;
  border: none;
  border-radius: 3vw;
}
#readyTimer {
  z-index: 51;
  height: 18vh;
  width: 70vw;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 38vh 15vw 15vh 15vw;
  cursor: pointer;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 20vw;
  border: none;
  border-radius: 1vw 1vw 0vw 0vw;
}
#readyTimerText {
  position: fixed;
  z-index: 51;
  height: 3vh;
  width: 70vw;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 56vh 15vw 15vh 15vw;
  cursor: pointer;
  background-color: rgb(197, 128, 0);
  color: white;
  font-weight: bold;
  font-size: 3vw;
  border: none;
  border-radius: 0vw 0vw 1vw 1vw;
}


#buttonContainer {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 149vh 1vw 4vh 1vw;
  padding: 1vh 0vw;
  width: 15vw;
  height: 3vh;
  font-size: 2.5vw;
  border: none;
  border-radius: 2vw;
  font-weight: bold;
  background-color: rgb(81, 0, 173);
  color: white;
  cursor: pointer;
  box-shadow: .1vh 0.1vw .25vh 0.1vw rgb(175, 175, 175);

}


#submitButton:active {
  background-color: rgb(139, 0, 0) !important;
}


#previousButton:active {
  background-color: rgb(1, 63, 134) !important;
}


#nextButton:active {
  background-color: rgb(1, 63, 134) !important;
}
